{% extends 'layout.html' %}
{% block content %}

<style>
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000000;
    min-width: 370px;
  }

  .hello {
    padding-top: 65px;
    text-align: center;
  }

  .hello a {
    color: rgb(185 185 185);
    font-size: 35px;
    text-decoration: none;
  }

  .container .hello a .mode {
    color: rgba(0, 86, 110, 0.582);
    text-shadow: 0 0 12px -1px rgb(0, 180, 230);
    font-size: 35px;

  }

  .container .hello .title {
    color: rgb(140, 14, 80);
    text-shadow: 0 0 15px rgb(230, 0, 120);
    font-size: 35px;
 
  }

  .container .btn {
    text-align: center;
    width: 60%;
    height: 80px;
    border-radius: 5px;
    border: 5px solid rgba(1, 80, 139, 0.247);
    cursor: pointer;
    margin: 20px 200px;

  }

  .container .btn .title {
    margin-top: 2px;
  }

  .container .btn .title a {
    color: rgb(202, 202, 202);
    font-size: 35px;
  }

  .container .btn .title a:hover {
    color: rgb(250, 131, 131);

  }


  @media only screen and (max-width: 1010px) {

    .hello a {
      color: rgb(60 59 59);
      font-size: 35px;
      text-decoration: none;
      display: flex;
      /* margin: 68px; */
      padding: 24px;
      flex-direction: column;
    }


    .container .btn {
      width: 100%;
      height: 96px;
      border-radius: 5px;
      border: 5px solid rgba(1, 80, 139, 0.247);
      cursor: pointer;
      margin: 45% auto;
    }

    .container .btn .title a {
      color: rgb(37, 37, 37);
      font-size: 30px;
    }


    .container .btn .title {
      margin-top: 10px;
    }

    .container .btn .title span {
      font-size: 18px;
      display: none;
    }

    .hello a {
      color: rgb(60 59 59);
      font-size: 40px;

    }




  }
</style>
{% load static %}

<body class="body">
  <div class="container">
    <div class="hello">
      <a class="hi" href="{% url 'hub'%}"> Hello world...<span class="mode"> DUOC UC</span> 
        <span class="title"></span> </a>
    </div>
    <br>

    <div class="btn">
      <div class="title">
        <a href="{% static '/assets/registrapp.apk'%}">RegistrApp Download <span>|| ARIZONA </span></a>
      </div>
    </div>
  </div>

</body>

{% endblock %}